* {
  font-size: 12px;
}
hr {
  border-bottom: 2px solid #046380;
}

h1,
thead {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

h2, h1,  {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
/*
pink : #EB3176;
blue : #043968;
deep : #032E54;
*/

header {
  text-align: center;
  background-color: #032E54;
  padding: 20px 0px 20px 0px;
}

header p {
  color: white;
}

header .year,
header p #time {
  color: #046380;
}

header .div {
  color: white;
}

h1 {
  color: #EB3176;
  font-weight: bold;
}

h2 {
  color: #043968;
}

h3 {
  color: #032E54;
}

thead {
  font-weight: bold;
}
/*
tables
*/

.table thead>tr>th,
.table tbody>tr>th,
.table tfoot>tr>th,
.table thead>tr>td,
.table tbody>tr>td,
.table tfoot>tr>td {
  border-top: 1px solid #EB3176;
}

.table caption+thead tr:first-child th,
.table colgroup+thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption+thead tr:first-child td,
.table colgroup+thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-bottom: 2px solid #043968;
}

th {
  vertical-align: middle !important;
  font-weight: bold;
  text-align: center;
}

td:not(:first-child) {
  text-align: center;
}

.poolTable {
  color: #EB3176;
}
/*
svg
*/

.node .bubble {
  fill: #fff;
  stroke: #046380;
  stroke-width: 5px;
}

.node {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #EB3176;
  stroke-width: 5px;
}
.table > tbody > tr > td.tLogoSmall-left{
  background-repeat: no-repeat;
  padding-right: 30px;
  background-position: right center;
}
.table > tbody > tr > td.tLogoSmall-right{
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left center;
}
.table > tbody > tr {
  height: 50px;
}
.tLogoSmall.angleterre {
  background-image:url(angleterre.png);
}

.tLogoSmall.fiji {
  background-image:url(fiji.png);
}

.tLogoSmall.tonga {
  background-image:url(tonga.png);
}

.tLogoSmall.georgie {
  background-image:url(georgie.png);
}

.tLogoSmall.irlande {
  background-image:url(irlande.png);
}

.tLogoSmall.canada {
  background-image:url(canada.png);
}

.tLogoSmall.afrique-du-sud {
  background-image:url(afrique-du-sud.png);
}

.tLogoSmall.japon {
  background-image:url(japon.png);
}

.tLogoSmall.australie {
  background-image:url(australie.png);
}

.tLogoSmall.argentine {
  background-image:url(argentine.png);
}

.tLogoSmall.italie {
  background-image:url(italie.png);
}

.tLogoSmall.usa {
  background-image:url(usa.png);
}

.tLogoSmall.uruguay {
  background-image:url(uruguay.png);
}

.tLogoSmall.nouvelle-zelande {
  background-image:url(nouvelle-zelande.png);
}

.tLogoSmall.france {
  background-image:url(france.png);
}

.tLogoSmall.pays-de-galles {
  background-image:url(pays-de-galles.png);
}

.tLogoSmall.ecosse {
  background-image:url(ecosse.png);
}

.tLogoSmall.roumanie {
  background-image:url(roumanie.png);
}

.tLogoSmall.namibie {
  background-image:url(namibie.png);
}

.tLogoSmall.samoa {
  background-image:url(samoa.png);
}

tr span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

.tLogoSmall {
  width: 31px;
  height: 35px;
}

.stadium {
  fill: #6B6B6B;
  font-size: 9px;
}
